    <!--#include virtual="/stuff/universitylibraries/asl/header.shtml"-->  
        
        <div id="research" class="page content">
            <div class="row">
                <div class="col span_16">
                    <div class="breadcrumb stilts">
                        <a href="/stuff/universitylibraries/asl">Home</a> » Research
                    </div>
                    <h1>
                        Research
                    </h1>
                    <p>
                        Bacon ipsum dolor sit amet ham hock meatball meatloaf, brisket jowl ball tip shoulder pork belly sirloin salami pig. Tail chuck venison leberkas. Chuck kielbasa pork belly pork loin strip steak venison bacon hamburger. Sausage shankle bresaola brisket ball tip doner. Turducken brisket cow, pastrami jowl beef ribs turkey ribeye swine pig salami sausage. Shank spare ribs beef boudin tongue, beef ribs sausage t-bone turkey.
                    </p>
                    <h2>Subheading (h2)</h2>
                    <img class="sample" src="_images/test/1.jpg">
                    <p>
                        Shankle meatball kielbasa, brisket doner turkey sausage meatloaf ham t-bone frankfurter capicola ball tip. Meatball shoulder doner, ball tip turducken fatback ribeye short loin jerky shankle chuck boudin tenderloin pork pastrami. Bacon strip steak rump tail cow pastrami pork chop flank hamburger pork spare ribs turkey frankfurter fatback capicola. Shoulder leberkas pig, kielbasa pancetta beef ribs strip steak boudin chicken short ribs pork loin ham drumstick ground round tri-tip. Chuck frankfurter prosciutto salami, bresaola tri-tip doner. Tri-tip pig t-bone pancetta tongue, doner prosciutto flank strip steak.
                    </p>
                    <p>
                        Ham meatball shoulder sirloin shank. Fatback drumstick sirloin meatloaf bresaola cow sausage boudin jerky. Ribeye tenderloin swine shank, prosciutto sausage capicola beef ribs frankfurter pork rump. Swine brisket ribeye tri-tip shank.
                    </p>
                    <h3>Subheading (h3)</h3>
                    <img class="sample" src="_images/test/2.jpg">
                    <p>
                        Ball tip prosciutto biltong, corned beef chicken kielbasa beef pig turkey swine drumstick shank meatball pork belly. Filet mignon strip steak bresaola venison swine turducken corned beef drumstick fatback ham shankle jerky hamburger. Ham pig tongue shankle beef ribs bacon, tri-tip biltong frankfurter brisket flank filet mignon ball tip prosciutto. Ground round strip steak ball tip flank shankle pork chop spare ribs ham hock beef ribs andouille. Shoulder pork chop leberkas, andouille bresaola meatball ham strip steak.
                    </p>
                    <p>
                        Ham meatball shoulder sirloin shank. Fatback drumstick sirloin meatloaf bresaola cow sausage boudin jerky. Ribeye tenderloin swine shank, prosciutto sausage capicola beef ribs frankfurter pork rump. Swine brisket ribeye tri-tip shank.
                    </p>
                    <h4>Subheading (h4)</h4>
                    <p>
                        Ham meatball shoulder sirloin shank. Fatback drumstick sirloin meatloaf bresaola cow sausage boudin jerky. Ribeye tenderloin swine shank, prosciutto sausage capicola beef ribs frankfurter pork rump. Swine brisket ribeye tri-tip shank.
                    </p>
                    <h5>Subheading (h5)</h5>
                    <p>
                        Ground round pastrami tail ball tip corned beef salami beef ribs leberkas short loin andouille chuck kielbasa brisket. Pig tri-tip frankfurter chuck pork loin tongue sausage short loin bacon chicken leberkas ham hock doner shoulder tail. Turducken andouille beef fatback pork, corned beef tail prosciutto ribeye chuck. Capicola leberkas chicken shoulder, flank venison pork cow.
                    </p>
                    <h6>Subheading (h6)</h6>
                    <p>
                        Pork chop drumstick short loin, chicken hamburger jowl boudin ham hock pig jerky. Pork belly tail short loin jerky. Jowl swine ham hock, bacon pig meatball shoulder drumstick pork doner brisket rump tongue. Jerky biltong short ribs sirloin chicken.
                    </p>
                </div>
                <div class="col span_8 sidebar">
                    <div class="sidebar-block">
                        <h2>
                            Sidebar Menu 1
                        </h2>
                        <ul>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-block">
                        <h2>
                            Sidebar Menu 2
                        </h2>
                        <ul>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Architecture Studies Link
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    <!--#include virtual="/stuff/universitylibraries/asl/footer.shtml"--> 