  <!--#include virtual="header.shtml" --> 
  <section class="content home">
    <div class="container">
      <div class="row">
        <div class="col span_24">
          <div class="breadcrumb">
            <a href="http://www.library.unlv.edu">University Libraries</a> &raquo; Special Collections Home 
          </div>
          <div class="page-title">
            <h1>
              Welcome to Special Collections
            </h1>
            <h2>Discover rare or unique research materials about gaming, Las Vegas, and Southern Nevada.
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span_12">
          <div id="Fader" class="fader">
            <figure class="slide">
              <img src="img/2.jpg"/>
              <figcaption>
                Caption text goes in here. Caption text goes in here. Caption text goes in here. Caption text goes in here.
              </figcaption>
            </figure>
            <figure class="slide">
              <img src="img/1.jpg"/>
              <figcaption>
                Caption text goes in here. Caption text goes in here. Caption text goes in here. Caption text goes in here.
              </figcaption>
            </figure>
            <figure class="slide">
              <img src="img/2.jpg"/>
              <figcaption>
                Caption text goes in here. Caption text goes in here. Caption text goes in here. Caption text goes in here.
              </figcaption>
            </figure>
            <figure class="slide">
              <img src="img/1.jpg"/>
              <figcaption>
                Caption text goes in here. Caption text goes in here. Caption text goes in here. Caption text goes in here.
              </figcaption>
            </figure>
            <div class="fader-controls">
              <!-- <button class="read-more" data-target="read-more">
                View<br>More
              </button> -->
              <button class="page prev" data-target="prev">
                <span class="glyph">&#xf053;</span>
              </button>
              <button class="page next" data-target="next">
                <span class="glyph">&#xf054;</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col span_6">
          <h4>
            Explore
          </h4>
          <ul>
            <li>
              <a href="">Gaming</a>
            </li>
            <li>
              <a href="">Early Las Vegas</a>
            </li>
            <li>
              <a href="">Entertainment</a>
            </li>
            <li>
              <a href="">Communities &amp; Groups</a>
            </li>
            <li>
              <a href="">Water &amp; the Environment</a>
            </li>
            <li>
              <a href="">Politics &amp; Government</a>
            </li>
            <li>
              <a href="">Nevada Women's Archives</a>
            </li>
            <li>
              <a href="">Beyond Las vegas</a>
            </li>
          </ul>
        </div>
        <div class="col span_6 col-search">
          <h4>
            Search
          </h4>
          <div id="sc-search">
            <form data-active="active" id="search-summon" action="http://unlv.summon.serialssolutions.com/search" method="get" enctype="application/x-www-form-urlencoded">
              <div class="search-input-wrapper">
                <input autofocus="focus" class="clearMeFocus" id="searchbox_s_q" name="s.q" type="text" placeholder="Quick Search" value="">
                <input class="glyph" type="submit" value="&#xf002;">
                <input checked="checked" id="summonAll" name="s.cmd" type="radio" value="">
              </div>
            </form>
            <form data-active="inactive" id="search-catalog" action="http://webpac.library.unlv.edu/search/X" method="get">
              <div class="search-input-wrapper">
                <input type="text" class="clearMeFocus" name="search" placeholder="Library Catalog" value="">
                <input class="glyph" type="submit" value="&#xf002;">
              </div>
            </form>
            <form data-active="inactive" id="search-speccoldatabase" action="/speccol/databases/index.php" method="get">
              <div class="search-input-wrapper">
                <input type="text" class="clearMeFocus" name="search" placeholder="Special Collections Database" value="">
                <input class="glyph" type="submit" value="&#xf002;">
              </div>
            </form>
            <form data-active="inactive" id="search-manuscript" action="">
              <div class="search-input-wrapper">
                <input type="text" class="clearMeFocus" name="search" placeholder="Manuscript Finding Aids" value="">
                <input class="glyph" type="submit" value="&#xf002;">
              </div>
            </form>
            <form data-active="inactive" id="search-digital" action="http://d.library.unlv.edu/cdm/search/" method="get">
              <div class="search-input-wrapper">
                <input type="text" class="clearMeFocus" name="search" placeholder="Digital Collections" value="">
                <input class="glyph" type="submit" value="&#xf002;">
              </div>
            </form>
            <ul>
              <li>
                <input id="r1" type="radio" name="search-type" value="search-summon" checked><label for="r1" title="Search the Libraries' books, articles, and more"><span class="fa-radio"></span><span class="glyph">&#xf0e7;</span> Quick Search</label>
              </li>
              <li>
                <input id="r2" type="radio" name="search-type" value="search-catalog"><label for="r2" title="Search for Special Collections' books, periodicals, maps, and manuscripts"><span class="fa-radio"></span><span class="glyph">&#xf02d;</span> Library Catalog</label>
              </li>
              <li>
                <input id="r3" type="radio" name="search-type" value="search-speccoldatabase"><label for="r3" title="Search for photographs, oral histories, manuscripts, and University Archives"><span class="fa-radio"></span><span class="glyph">&#xf0ce;</span> Special Collections Database</label>
              </li>
              <li>
                <input id="r4" type="radio" name="search-type" value="search-manuscript"><label for="r4" title="Search detailed descriptions of select manuscript collections"><span class="fa-radio"></span><span class="glyph">&#xf002;</span> Manuscript Finding Aids</label>
              </li>
              <li>
                <input id="r5" type="radio" name="search-type" value="search-digital"><label for="r5" title="Search for digital photographs and other digitized materials"><span class="fa-radio"></span><span class="glyph">&#xf108;</span> Digital Collections</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col span_6">
          <h4>
            Centers
          </h4>
          <ul>
            <li>
              <a href="">Center for Gaming Research</a>
            </li>
            <li>
              <a href="">Oral Research History Center</a>
            </li>
          </ul>
        </div>
        <div class="col span_6">
          <h4>
            Collections
          </h4>
          <ul>
            <li>
              <a href="">Books &amp; Serials</a>
            </li>
            <li>
              <a href="">Manuscripts &amp; Architectural Records</a>
            </li>
            <li>
              <a href="">Maps</a>
            </li>
            <li>
              <a href="">Oral Histories</a>
            </li>
            <li>
              <a href="">Photographs</a>
            </li>
            <li>
              <a href="">Vertical Files &amp; Newspapers</a>
            </li>
            <li>
              <a href="">Digital Collections</a>
            </li>
            <li>
              <a href="">University Archives</a>
            </li>
          </ul>
        </div>
        <div class="col span_6">
          <h4>
            Research &amp; Services
          </h4>
          <ul>
            <li>
              <a href="">Finding Our Materials</a>
            </li>
            <li>
              <a href="">Citing Our Materials</a>
            </li>
            <li>
              <a href="">Reproductions &amp; Fees</a>
            </li>
            <li>
              <a href="">Reference Assistance</a>
            </li>
            <li>
              <a href="">Introduction &amp; Tours</a>
            </li>
            <li>
              <a href="">Using Primary Sources</a>
            </li>
            <li>
              <a href="">Eadington Fellowships</a>
            </li>
          </ul>
        </div>
        <div class="col span_6">
          <h4>
            Visit
          </h4>
          <ul>
            <li>
              <a href="">Hours &amp; Location</a>
            </li>
            <li>
              <a href="">Using the Collections</a>
            </li>
            <li>
              <a href="">Reading Room Policies</a>
            </li>
            <li>
              <a href="">Out of Town Researchers</a>
            </li>
            <li>
              <a href="">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col span_6">
          <h4>
            About
          </h4>
          <ul>
            <li>
              <a href="">Mission &amp; History</a>
            </li>
            <li>
              <a href="">Preservation</a>
            </li>
            <li>
              <a href="">Donating Materials</a>
            </li>
            <li>
              <a href="">Support Special Collections</a>
            </li>
            <li>
              <a href="">Behind the Scenes</a>
            </li>
            <li>
              <a href="">Staff Directory</a>
            </li>
            <li>
              <a href="">Profile</a>
            </li>
            <li>
              <a href="">FAQs</a>
            </li>
          </ul>
        </div>
        <div class="col span_12">
          <h4>
            News From Special Collections <span class="glyph rss">&#xf09e;</span>
          </h4>
          <ul>
            <li>
              <a href="">10.01.2013</a> Take Our Survey!
            </li>
            <li>
              <a href="">08.27.2013</a> Finding Las vegas
            </li>
            <li>
              <a href="">05.20.2013</a> Panel Discussion At NEON Museum
            </li>
            <li>
              <a href="">05.01.2013</a> African American Collaborative Project - Town Hall Meeting
            </li>
            <li>
              <a href="">03.20.2013</a> National Preservation Week
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="prefooter">
    <div class="img-carousel clearfix">
      <span class="glyph paddle left">&#xf053;</span>
      <div class="container">
        <h4 class="haircut">Collecting Strengths</h4>
      </div>
      <div class="images">
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://digital.library.unlv.edu/sites/default/files/imagecache/toptic_image_featured/images/topics/sky000253sm.jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0049_0206(small).jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://digital.library.unlv.edu/sites/default/files/images/0214%200186.jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://www.library.unlv.edu/speccol/gaming/images/grc130.jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://digital.library.unlv.edu/sites/default/files/imagecache/toptic_image_featured/images/topics/sky000413sm.jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0318_0057(small).jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
        <a href="http://d.library.unlv.edu/cdm/" target="_blank">
          <img src="http://www.library.unlv.edu/speccol/photo_gallery/las_vegas_history/0100_0020.jpg">
          <span id="tooltip">
            <div>
              <p>
                Here's a caption to go along with this image
              </p>
            </div>
          </span>
        </a>
      </div>
      <span class="glyph paddle right">&#xf054;</span>
    </div>
  </section>
  <!--#include virtual="footer.shtml" --> 