body.not-front div.search-tool-wrapper.arch {
  float: none;
  margin-bottom: .5em;
  width: 475px;
}
div.search-tool-wrapper.arch div.search-help {
  display: inline-block;
  margin: 12px 0 0 .5em;
  position: relative;
  float: none;
}
body.not-front div.search-tool-wrapper.arch div.search-help #tooltip {
top: 28px;
left: -572px;
}

.fa {
  color: #B10202;
  margin-right: .5em;
  width: 15px;
}