/*	This file will hold styles for the mobile version of your website (mobile first).  */
/*	This also can include ANY global CSS that applies site-wide. Unless overwritten by 
	a more specific style rule, CSS declarations in global.css will apply site-wide.  */

/*
 * For most css values of FontAwesome icons, please refer to this url: http://astronautweb.co/snippet/font-awesome/
 * DO NOT directly copy FontAwesome icon into this file, that will mess up most plain text editor, and possibly
 * bitbucket merging process. Find corresponding css values, and use that in css file.
 * Some fonts are listed below:
 *     "\f101": fa-angle-double-right
 *     "\f05a": fa-info-circle
 *     "\f071": fa-exclamation-triangle
 */


section.section-content,
footer.section-footer {
    margin: 0 .5em;
}

section.section-content #zone-content {
    padding: 0 .5em;
}

footer.section-footer #zone-footer {
    padding: 1.5em .5em 0;
}

/* =======================================
    TABLE OF CONTENTS

    1. Global
        1.1 Typography
        1.2 ...
        1.3 Forms
            1.3.1 Text Fields
            1.3.2 Drop Downs
            1.4 Pager
            1.5 Tables
            1.6 Lists
            1.7 Misc
            1.8 General Layout
    2. Header
        2.1 General
            2.1.1 Header - Front Page
            2.1.2 Header - All Other Pages
        2.2 Search
            2.2.1 Search - Front Page
            2.2.2 Search - All Other Pages
    3. Navigation
    4. Content
        4.1 iframe Slideshow
        4.2 Flexslider
            4.2.1 Flexslider - Front Page
        4.3 News Items
        4.4 Get Help Link
        4.5 FAQ Pages
        4.6 Blogs
            4.6.1 eConnections
            4.6.2 Between the Lines
        4.7 Sidebar				
            4.7.1 Blogs Sidebar
    5. Footer
        5.1 Locations
        5.2 Contact
        5.3 Copyright
	......................................	*/

/* =======================================
	1. GLOBAL
	......................................	*/

html {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(240,240,240);
    font: 12px verdana, sans-serif;
    color: #363636;
    line-height: 1.5;
    -moz-font-feature-settings:"calt=1, liga=1, clig=1, kern=1, dlig=1";
    -moz-font-feature-settings:"calt" 1, "liga" 1, "clig" 1, "kern" 1, "dlig" 1;
    -ms-font-feature-settings:"calt", "liga", "clig", "kern", "dlig";
    -o-font-feature-settings:"calt", "liga", "clig", "kern", "dlig";
    /*-webkit-font-feature-settings:"calt", "liga", "clig", "kern", "dlig";*/ /*Chrome on Mac can't handle this*/ 
    font-feature-settings:"calt", "liga", "clig", "kern", "dlig";
    text-rendering: optimizeLegibility;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}

/* =======================================
	1.1 Typography
	......................................	*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

span.glyph {
    font: 1em 'FontAwesome';
    text-transform: none;
    width: 1em;
    display: inline-block;
}

input[type="submit"].glyph {
    font: 1em 'FontAwesome';
}

p,
ol,
ul,
blockquote,
pre,
code {
    line-height: 1.5;
    margin: 0 0 1.5em 0;
}

a:link, 
a:focus {
    color: #b10202;
    text-decoration: none;
    border: none;
}

a:hover, 
a:active, 
a:visited:hover {
    color: #363636;
    text-decoration: underline;
}

a:visited {
    color: #8d0101;
}

h1, 
h2, 
h3, 
h4 {
    font-family: georgia, 'times new roman', serif;
    /*font-variant: small-caps;*/
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: .5em;
    color: #444;
}

h1 {
	/*font-variant: small-caps;*/
}

h5, 
h6 {
    font-family: verdana, sans-serif;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

h1 {
    font-size: 250%;
    line-height: 1;
    margin-bottom: .5em;
}

h1#page-title {
	margin-top: 1em;
	padding-left: 10px;
	clear: both;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 120%;
}

h5 {
    font-size: 100%;
}

h6 {
    font-size: 100%;
}

/* =======================================
	1.3 Forms
	......................................	*/

input:focus, 
textarea:focus, 
select:focus { /* input reset */
    outline-offset: 0;
}

input {
    max-width: 100%;
}

textarea,
select,
button,
input[type="date"], 
input[type="datetime"], 
input[type="datetime-local"],
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="password"], 
input[type="search"], 
input[type="tel"], 
input[type="text"], 
input[type="time"], 
input[type="url"], 
input[type="week"], 
input[type="reset"], 
input[type="submit"], 
input[type="button"],
article.comment nav ul li a { /* input reset */
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    background: none;
    text-shadow: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input[type="submit"],
input[type="reset"],
button,
a.button { /* button styles */
    -webkit-appearance: none; /* iOS override */
    height: 30px;
    margin: 0;
    text-transform: lowercase;
    text-decoration: none;
    font-weight: normal;
    text-shadow: none;
    color: #fff;
    background-image: none;
    background-color: #8d0101;
    border: 0;
    outline: 0;
    background: #B10202; 
    cursor: pointer;
    padding: .25em 1em;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    box-shadow:  0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

a.button {
    padding: .5em 1em;
    margin-bottom: 1.5em;
    display: inline-block;
    height: auto;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
a.button:hover,
ul.pager li.pager-previous a:hover,
ul.pager li.pager-next a:hover,
div#get-help img:hover { /* button:hover transition */
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3 ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
a.button:hover,
ul.pager li.pager-previous a:hover,
ul.pager li.pager-next a:hover,
div.flex-nav-container ol.flex-control-paging a:hover,
div.flex-nav-container ul.flex-direction-nav li a:hover,
input[type="submit"].button-go:hover { /* button:hover color (does not include get-help, buttons-main, or buttons-blog icons) */
    background-color: #c50000;
}

a.button:hover {
    color: #fff;
}

nav.node-links ul li a { /* blog post footer links e.g. "Send By Email" */
    color: #b10202;
    text-transform: capitalize;
    font-weight: normal;
    background-image: none;
    border: none;
    cursor: pointer;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 0;
    margin-right: 20px;
}

nav.node-links ul li a:hover,
nav.node-links ul li a:visited:hover { /* blog post footer links e.g. "Send By Email" */
    color: #363636;
    background: transparent;
    text-decoration: underline;
}

/* Webform stuff */
body.node-type-webform .form-item {
  margin-left: 1em;
}
body.node-type-webform .form-item.inline {
  float: left;
  margin-left: 1em;
}
body.node-type-webform .form-item.webform-component.webform-component-email.webform-component--email.webform-container-inline {
  clear: left;    
}
body.node-type-webform select {
  -webkit-appearance: menulist;
}

/* =======================================
	1.3.1 Text Fields
	......................................	*/

input[type="text"],
input[type="password"],
input#SS_CFocusTag {
    height: 30px;
    padding: 0 5px;
    font-size: 100%;
    border: 1px solid #999;
}

/* =======================================
	1.3.2 Drop Downs
	......................................	*/



/* =======================================
	1.4 Pager
	......................................	*/

ul.pager {
	border: 0;
}

ul.pager li.pager-current, 
ul.pager li.pager-previous a,
ul.pager li.pager-next a {
    background: #8d0101;
    border: 0;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

ul.pager li.pager-previous a:hover,
ul.pager li.pager-next a:hover {
	 border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

ul.pager li.pager-current, 
ul.pager li.pager-previous.first,
ul.pager li.pager-next.last {
	float: left;
	position: relative;
}

/* =======================================
	1.5 Tables
	......................................	*/

tr:hover td {
    background: inherit;
}

tr td {
    background: #fff;
}

table.no-border {
	border: none;
}

/* =======================================
	1.6 Lists
	......................................	*/

li {
	margin-left: 1em;
}

ul li {
	list-style-type: square;
}

ul.no-bullet {
	padding-left: 0;
}

ul.no-bullet li {
	list-style-type: none;
	list-style-image: none;
	margin-left: 0;
}

ul.menu li a:after { /* adds the ">>" at the end of links */
    font: 1em 'FontAwesome';
    content: " \f101";          /* fa-angle-double-right */
}

#region-sidebar-second ul li { /* default no indent on lists in the sidebar */
	list-style-type: none;
    margin-left: 0;
}

#region-sidebar-second ul li ul { /* indent nested lists in the sidebar */
    margin-left: 20px;
}

/* =======================================
	1.7 Misc.
	......................................	*/

img {
    border-color: #999;
}

p.caption {
	font-weight: bold;
	font-size: 10px;
}

blockquote {
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    clear: both;
    background: #f2f2f2;
    text-align: left;
    margin: 0 0 1.5em;
    padding: 1.5em 1.5em .01em 6em;
    min-height: 6em;
}

blockquote p:first-child:before {
    font: 40px 'FontAwesome';
    content: "\f05a";           /* fa-info-circle */
    position: absolute;
    left: .5em;
    top: .5em;
}

blockquote.important p:first-child:before {
    font: 40px 'FontAwesome';
    content: "\f071";           /* fa-exclamation-triangle */
}

blockquote p.attribution {
	font-size: 80%;
	font-weight: bold;
	font-style: normal;
	color: #888;
}

hr {
    clear: both;
    height: 0;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px dashed #dadada;
}

.tophat {
	margin-top: 1.5em;
}

.stilts {
    margin-bottom: 1.5em;
}

.terminus,
.noshoes {
    margin-bottom: 0;
}

.cloakingdevice {
    display: none;
}

/* =======================================
    1.8. General Layout
    ......................................  */

#zone-user-wrapper,
header.section-header,
#zone-content,
#zone-footer { /* layout shadows */
    box-shadow: 0 0 7px #888;
    -webkit-box-shadow: 0 0 7px #888;
}

/* =======================================
	2. HEADER
	......................................	*/

#zone-user,
#zone-user-wrapper { /* don't show on mobile */
	/*display: none; */
}

/*#zone-branding {
    background: transparent url(../images/header-bg.png) center -22px no-repeat;
    background-size: 960px auto;
    padding-left: -10px;
}*/

#zone-user-wrapper {
    background: #dedede url(../images/header-bkgrd.png) repeat-x top left;
    height: 22px;
    padding: 1px 0;
    border-bottom: solid 1px #999;
}
#region-user-first, #region-user-second {
    margin: 0;
}
#region-user-second {
    display: none;
}

div#block-library-content-todays-hours { /* Today's Library Hours */
    display: none;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    background: #fff;
}

header#section-header {
    background: #DCDCDC;
    margin: 0 0 1.5em;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#region-branding {
    margin: 0;
    padding: 0;
}

/* =======================================
	2.1.1 Header - Front Page
	......................................	*/

/* =======================================
    2.1.2 Header - All Other Pages
	......................................	*/

#zone-user ul { /* links in the unlv header */
	float: right;
	font-size: 80%;
}

#zone-user ul li {
	display: inline;
	list-style-type: none;
	margin-left: 10px;
}

#zone-user ul a {
	color: #444;
	display: inline-block;
	padding: 5px;
}

div.logo-img {
    width: 100%;
}

img#logo {
    width: 100%;
    display: block;
    margin: 0 0 1em;
    background: #fff;
    padding: 1em .5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* =======================================
	2.2 Library Search
	......................................	*/

div#searchWrapper {
    margin: 0 5% 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div#searchLib { 
    border: 1px solid #999;
    background: #fff;
    display: block;
    float: none;
    position: relative;
}

div#searchLib .ui-widget-content {
    background: none;
    border: none;
}

div#searchLib form input {
	height: 40px;
	text-shadow: 0px 0px 0px;
	font: inherit;
}

div#searchLib form fieldset {
	margin: 0;
}

div#searchLib form input:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
}

div#searchLib form input[type="text"] {
    width: 100%;
	outline: none;
	border: none;
}

input[type="submit"].button-go { /* search button */
    position: absolute;
    right: 0;
    top: 0;
	background: #B10202 url(../images/search.png) center center no-repeat;
	width: 43px;
    color: transparent;
}

div#searchLib form input[type="submit"] {
	margin-left: 0;
	float: right;
	height: 40px;
	border: none;
    border-radius: 0;
}

/* =======================================
	3. NAVIGATION
	......................................	*/

div.region-menu {
    margin: 0;
}

div#zone-menu {
	text-align: center;
	padding: 0;
    font-family: verdana;
    background: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 .5em .5em;
}

ul#main-menu {
    margin: 0;
    padding: 0;
    display: none;
}

ul#main-menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    display: inline;
}

ul#main-menu li.leaf { /* eliminates bullets on user home page sidebar menu */
	list-style-image: none;
}

ul#main-menu li a,
a.mobile-menu {
    background: #fff;
	padding: 3px 0;
	font-size: 1.17em;
    padding: .75em 0;
    margin-top: .5em;
	color: #8d0101;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-moz-transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-webkit-transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-o-transition: background .3 cubic-bezier(0.25,0.1,0.25,1);
}

ul#main-menu li a:hover,
ul#main-menu li a.active,
a.mobile-menu {
	background: rgb(80,80,80);
    color: #fff;
	transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-moz-transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-webkit-transition: background .3s cubic-bezier(0.25,0.1,0.25,1);
	-o-transition: background .3 cubic-bezier(0.25,0.1,0.25,1);
}

a.mobile-menu {
    text-align: center;
    display: block;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 .5em 0;
    height: auto;
}

a.mobile-menu:visited {
    color: #fff;
}

/* =======================================
	4. CONTENT
	......................................	*/

#zone-content {
	background: #fff;
	border: 1px solid #999;
	margin-bottom: 1.5em;
	padding: 0 0 1.5em;
}

span.print-link { /* eliminates padding between main image and page title on local machine*/
    padding-bottom: 0;
}

div#breadcrumb {
	margin-top: 1.5em;
}

#region-content div.content img { /* maximum image size in main content area */
	max-width: 100%;
	height: auto;
}

.field-name-field-file-pub .field-label { /* floats the label of file fields to the left when displayed */
  float: left;
}

/* =======================================
	4.1 iframe Slideshow
	......................................	*/

.responsive-iframe { /* This makes the iframe responsive */
    position: relative;
    padding-bottom: 56.50%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.responsive-iframe iframe { /* This makes the iframe responsive */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* =======================================
	4.2 Flexslider
	......................................	*/

div.flex-nav-container div.flexslider { /* default flexslider style reset */
	margin: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
	border: none;
}

div.flex-nav-container ul.slides li {
	margin: 0;
	list-style-type: none;
}

div.flex-nav-container ul.slides li img { /* margin between slide images and captions */
	margin: 0 0 .5em;
}

div.flex-nav-container ol.flex-control-paging {
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: auto;
	width: auto;
	text-align: right;
}

div.flex-nav-container ol.flex-control-nav li {
	margin: 0 0 5px 5px;
}

div.flex-nav-container ol.flex-control-paging a {
	background: #fff;
	height: 10px;
	width: 12px;
	box-shadow: none;
	-webkit-box-shadow: none;
	color: transparent;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

div.flex-nav-container ol.flex-control-paging a.flex-active {
	background: #B10202;
}

div.flex-nav-container ul.flex-direction-nav {
    display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 68px;
}

div.flex-nav-container ul.flex-direction-nav li {
	list-style-type: none;
	margin: 0;
}

div.flex-nav-container ul.flex-direction-nav li a {
	float: left;
	margin: 0 10px 0 0;
	position: relative;
	height: 24px;
	width: 24px;
	background: #B10202 url(../images/flexslider-direction-arrows.png) no-repeat;
	opacity: 1;
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

div.flex-nav-container ul.flex-direction-nav li a:hover {
	background-image: url(../images/flexslider-direction-arrows.png);
	background-repeat: no-repeat;
}

div.flex-nav-container ul.flex-direction-nav li a.flex-prev {
	left: auto;
}

div.flex-nav-container ul.flex-direction-nav li a.flex-next {
	right: auto;
	background-position: -24px 0;
}

/* =======================================
	4.2.1 Flexslider - Front Page
	......................................	*/

div.flexslider_views_slideshow_main div.flex-nav-container ul.slides li img { /* margin between slide images and captions */
	margin: 0;
}

div.flexslider_views_slideshow_main span.field-content { /* front page slide title */
        color: #b10202;
	font: 200% georgia, 'times new roman', serif;
	/*font-variant: small-caps;*/
	margin: 1em 0 .5em;
	display: block;
}

div.flexslider_views_slideshow_main div.views-field-field-link-1 { /* front page story link */
	margin: 20px 0;
	text-align: right;
} 

div.flexslider_views_slideshow_main div.views-field-field-link-1 a:after { /* front page story link */
    font: 1em 'FontAwesome';
    content: " \f101";          /* fa-double-angle-right */
}

div.flexslider_views_slideshow_main div.flex-nav-container { /* front page slideshow divider */
	margin: 0 0 1.5em;
	border-bottom: 1px dashed #dadada;
}

/* =======================================
    4.3 News Items
    ......................................  */
div.view-featured-items li.newstile {
    margin-bottom: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0 0 1.5em;
}

div.view-featured-items li.newstile img {
    display: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.view-featured-items div.view-footer { /* newstile View All link */
    text-align: right;
    clear: both;
    padding-top: 1.5em;
}

div.view-featured-items div.view-footer a:after { /* front page story link */
    font: 1em 'FontAwesome';
    content: " \f101";          /* fa-double-angle-right */
}

div.view-featured-items div.view-footer a { /* front page story link */
    display: block;
}

/* =======================================
	4.4 Get Help Link
	......................................	*/


div#help-icon {
    display: block;
    position: relative;
    z-index: 10;
    margin-right: 10px;
    margin-bottom: 10px;
}

div#help-icon img {
    height: 85px;
    width: 85px;
    position: absolute;
    top: 0;
    right: 0;
}


/*
div#help-icon { height:85px; width:85px; position:relative; left:849px; margin-bottom:-96px; z-index:9999; margin-top:4px; }
*/

div#help-icon img:hover { opacity:.8; }


/*
div#get-help {
	display: block;
	position: relative;
	z-index:10;
}

div#get-help img {
	position: absolute;
	top: 0;
	right: 0;
	background: url(../images/gethelp.png) right top no-repeat;
}

div#get-help img:hover {
	background: url(../images/gethelp-hover.png);
}
*/




/* =======================================
	4.5 FAQ Pages
	......................................	*/

form#views-exposed-form-faq-page { /* FAQ search box */
	margin-bottom: 1.5em;
	padding: 0;
}

form#views-exposed-form-faq-page #edit-keys-wrapper { /* FAQ search box label and text field wrapper */
	width: 100%;
	padding: 0;
}

form#views-exposed-form-faq-page label { /* FAQ search box label */
	height: 40px;
	font: 200% Georgia, 'Times New Roman', serif;
	/*font-variant: small-caps;*/
	font-weight: normal;
	letter-spacing: -.05em;
	display: inline-block;
}

form#views-exposed-form-faq-page input[type="text"]#edit-keys { /* FAQ search box text input */
	width: 100%;
	height: 42px;
	padding-right: 52px;
}

form#views-exposed-form-faq-page .views-submit-button { /* FAQ search box submit wrapper */
	padding: 0;
	position: absolute;
	margin-top: 42px;
	right: 1px;
}

form#views-exposed-form-faq-page input[type="submit"]#edit-submit-faq { /* FAQ search box submit */
	height: 38px;
	border: 0;
}

article.node-faq h2.node-title { /* expand Q link */
	font: 100% verdana, sans-serif;
	font-weight: bold;
	font-variant: normal;
	color: #b10202;
	cursor: pointer;
}

article.node-faq h2.node-title:hover { /* expand Q link */
	text-decoration: underline;
	color: #444;
}

article.node-faq .content { /* A */
	padding-bottom: 1.5em;
}

#block-views-faq-categories-block { /* browse by category */
	margin-bottom: 1.5em;
}

#block-views-faq-categories-block ul li { /* category list */
	display: block;
	margin: 0;
}

/* =======================================
	4.6 Blogs
	......................................	*/

footer.submitted { /* blog author and submit time */
	margin-bottom: 1.5em;
}

article.node-blog { /* blog entry group */
	margin-bottom: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 1px dashed #dadada;
}

article.node-blog h2.node-title	{
	font: 200% georgia, 'time new roman', serif;
	/*font-variant: small-caps;*/
	font-weight: normal;
}

article.comment { /* spaces blog comments */
	margin-bottom: 20px;
}

article.comment footer { /* spaces blog comment body from "submitted by" */
	margin-bottom: 10px;
}

article.comment nav li a { /* comment buttons */
	font-size: 80%;
	border: none;
	padding: 0;
	margin-right: 10px;
	text-indent: -9999px;
	height: 30px;
	width: 30px;
}

article.comment nav li.comment-delete a {
	background: transparent url(../images/buttons-blog.png) 0 0;
}

article.comment nav li.comment-edit a {
	background: transparent url(../images/buttons-blog.png) 0 60px;
}

article.comment nav li.comment-reply a {
	background: transparent url(../images/buttons-blog.png) 0 30px;
}

article.comment nav li.comment-delete a:hover {
	background: transparent url(../images/buttons-blog.png) 30px 0;
}

article.comment nav li.comment-edit a:hover {
	background: transparent url(../images/buttons-blog.png) 30px 60px;
}

article.comment nav li.comment-reply a:hover {
	background: transparent url(../images/buttons-blog.png) 30px 30px;
}

.feed-icon img { /* inserts space to the right of the feed icon */
  margin-right: 5px;
}

/* =======================================
	4.6.1 eConnections
	......................................	*/

div#econnections-header {
	margin-top: -1.5em;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
    display: block;
    padding-left: 10px;
    clear: both;
    background: url(../images/econ/econ-header-bg.png) center center no-repeat;
}

img.econlogo { /* eConnections logo */
    float: left;
    margin-top: 110px;
}

img.econshadow { /* temp */
	display: none;
}

div.econrand { /* random image in header */
	float: right;
    display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-left: 1px solid #999;
    height: 160px;
}

div#econ-rand-1 {
    background: url(../images/econ/econ-rand-1.jpg) center center no-repeat;
}

div#econ-rand-2 {
    background: url(../images/econ/econ-rand-2.jpg) center center no-repeat;
}

div#econ-rand-3 {
    background: url(../images/econ/econ-rand-3.jpg) center center no-repeat;
}

div#econ-rand-4 {
    background: url(../images/econ/econ-rand-4.jpg) center center no-repeat;
}

div#econnections-tagline { /* bar beneath main header */
	width: 100%;
    float: left;
    margin: 0 0 20px;
    background-color: #bdbec0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

img.econtagline { /* News from your research library in Southern Nevada */
    float: right;
}

/* =======================================
	4.6.2 Between the Lines
	......................................	*/

#btl-header {
    margin-bottom: 20px;
}

#btl-header img {
    width: 100%
}

/* =======================================
	4.6.3 Linked Data
	......................................	*/
body.responsive-layout-normal div#ld-header {
  min-height: 242px;
}
body.responsive-layout-narrow div#ld-header {
  min-height: 182px;
}
div#ld-peeps {
  margin-top: 1em;
}
body.page-taxonomy-term-1215 div#breadcrumb, 
body.context-linked-data div#breadcrumb {
  display: none;
}
img.ld-logo {
  display: block;
  position: absolute;
}
body.responsive-layout-normal img.ld-logo {
  min-height: 242px;
}
body.responsive-layout-narrow img.ld-logo {
  max-width: 722px;
}
img.ld-photo,
div#ld-peeps div.name,
div#ld-peeps div.position,
div#ld-peeps div.email {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
div#ld-peeps div.name a {
  color: #f9f9f9;
}
div#ld-peeps div.position,
div#ld-peeps div.email a {
  color: #f9f9f9;
  font-size: 80%;
}
body.responsive-layout-narrow div#ld-peeps div.position,
body.responsive-layout-narrow div#ld-peeps div.email {
  display: none;
}

/* =======================================
	4.7 Sidebar
	......................................	*/

#region-sidebar-second {
    margin: 0;
}

#region-sidebar-second div.block { /* sidebar block */
	margin-bottom: 1.5em;
}

#region-sidebar-second div.block:first-child {
	margin-top: -.5em;
}

#region-sidebar-second div.h2-block-title-wrapper { /* sidebar title line */
    background: transparent url(../images/h2-line.png) center bottom repeat-x;
    margin: 0 0 1em;
}

#region-sidebar-second h2.block-title {
    background: #fff;
    display: inline;
    padding-right: 4px;
    text-transform: uppercase;
    font-size: 125%;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -o-hyphens: none;
    hyphens: none;
}

#region-sidebar-second ul li.more { /* "See More" link */
	margin-top: 1.5em;
}

/* =======================================
	4.7.1 Blogs Sidebar
	......................................	*/

form#views-exposed-form-blog-content-page div.views-exposed-widget { /* eliminates padding around search text field on sidebar blog search */
    padding: 0;
}
form#views-exposed-form-blog-content-page input.form-submit { /* eliminates above blog search button */
    margin-top: 0;
}

#region-sidebar-second div.view-blog-content div.views-row { /* Recent Entries margin fix */
	margin: 0 0 .5em;
}

#region-sidebar-second div.view-blog-content ul.views-summary li { /* Monthly Archives margin fix */
	margin: 0;
}

/* =======================================
	5. FOOTER
	......................................	*/

#zone-footer {
    border: 1px solid #999;
    padding: 20px 0 0 0;
    background: #f2f2f2;
}

#zone-footer div.col.grid-6 {
    margin-right: 0;
    margin-left: 0;
}

/* =======================================
	5.1 Locations
	......................................	*/

#zone-footer div.map { /* hide mobile map */
    display: none;
}

#region-footer-first,
#region-footer-first-right {
    margin:0;
}

.select-library {
    clear: left;
}

div.select-library { /* drop down fix */
    width: 44%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#library-select-button { /* library map select menu style */
    width: 100% !important;
}

/* =======================================
	5.2 Contact
	......................................	*/

#zone-footer .footer-more-hours {
	float: right;
}

#zone-footer .address {
	float: left;
}

.footer-block {
    display: block;
    margin-bottom: 1.5em;
}

.footer-block ul {
    margin: 0;
}

.footer-block ul li .footer-text {
    border-top: 1px dashed #bebebe;
    display: block;
}

.footer-block ul li a {
    border-top: 1px dashed #bebebe;
}

.footer-block ul li:last-child a {
    border-bottom: 1px dashed #bebebe;
}

.footer-block ul li a {
    display: block;
}

.footer-block ul li a:hover {
    background: #e6e6e6;
    text-decoration: none;
}

.footer-block ul li a:hover span.facebook {
    color: #3b5999;
}

.footer-block ul li a:hover span.twitter {
    color: #00aced;
}

.footer-block ul li a:hover span.youtube {
    color: #cb322c;
}

.footer-block a.last {
    margin-right: 0;
}

/* =======================================
	5.3 Copyright
	......................................	*/

#region-footer-second {
    background: #e2e2e2;
    border-top: 1px solid #999;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#region-footer-second a {
    color: #444;
}

#region-footer-second a.user { /* user login link */
	float: right;
}



/* =====================================
  6. Select2 Styles (Dropdowns)
  ......................................  */


div.select2-container,
div.select2-container .select2-choice {
    border-radius: 0;
    /*border-radius: 0;*/
    box-shadow: none;
}
div.select2-container .select2-choice {
    min-width: 160px;
    height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: none;
    background: #95a5a6;
    border: 1px solid #6C7778;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e3e7e8));
    background-image: -webkit-linear-gradient(top, #fff, #e3e7e8); 
    background-image:    -moz-linear-gradient(top, #fff, #e3e7e8);
    background-image:     -ms-linear-gradient(top, #fff, #e3e7e8);
    background-image:      -o-linear-gradient(top, #fff, #e3e7e8);
}
div.select2-container:hover .select2-choice {
    border: 1px solid #869293;
}
div.select2-container .select2-choice span.select2-arrow {
    width: 26px;
    border-radius: 0;
    background: #7f8c8d;
    border-left: 1px solid #6C7778;
    color:#777;
    background-color: #bdc3c7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ecf0f1), to(#bdc3c7));
    background-image: -webkit-linear-gradient(top, #ecf0f1, #bdc3c7); 
    background-image:    -moz-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:     -ms-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-image:      -o-linear-gradient(top, #ecf0f1, #bdc3c7);
    background-color: #95a5a6;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc3c7), to(#95a5a6));
    background-image: -webkit-linear-gradient(top, #bdc3c7, #95a5a6); 
    background-image:    -moz-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:     -ms-linear-gradient(top, #bdc3c7, #95a5a6);
    background-image:      -o-linear-gradient(top, #bdc3c7, #95a5a6);
}
div.select2-container:hover .select2-choice span.select2-arrow {
    border-color: #98a7a8;
    background: #95a5a6;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
div.select2-container .select2-choice span.select2-arrow b {
    background: transparent url(../images/arrow-down.png) no-repeat center center;
}
div.search-tool-wrapper-norm div.select2-container .select2-choice {
    width: 210px;
}
div.select2-container .select2-choice > .select2-chosen {
    margin-right: 54px;
    line-height: 28px;
    color: #c0392b;
    color: #fff;
    font-size: 1.1em;
    color: #777;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}
div.select2-drop-active {
    border: 1px solid #6c7778;
    background: #fff;
    color: #444;
}
div.select2-drop-active .select2-results {
    max-height: 260px;
    margin: 0;
    padding: 0;
}
div.select2-drop-active .select2-result {
    margin: 0;
}
div.select2-drop-active .select2-highlighted {
    background: #ecf0f1;
    color: #444;
}
div.select2-search {
    padding: 4px;
}

div#searchWrapper div.select2-container {
    /*float: left;*/
    display: block;
}
div#searchWrapper div.select2-container .select2-choice {
    height: 42px;
}
div#searchWrapper div.select2-container .select2-choice span.select2-arrow {
    width: 42px;
}
div#searchWrapper div.select2-container .select2-choice > .select2-chosen{
    line-height: 40px;
}

.view-id-unlv_event_calendar.view-display-id-page_1 {
  display: block;
}
